@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/*Variables*/

:root {
    --azul: #1A73E8;
    --azul-claro: #669DF6;
    --azul-oscuro: #125bbb;
    --gris: #C8C8C8;
    --gris-claro: #F5F5F5;
    --blanco: #fff;
    --negro: #000;
}

/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a,li {
    text-decoration: none;
    list-style: none;
    font-size: 1.05em;
    color: var(--negro);
  }

input,
textarea {
    padding: 10px;
    border: none;
    border: solid 1px var(--gris);
    border-radius: 4px;
    outline: none;
    font-size: 1em;
}


button {
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    background: none;
    font-size: 1em;
}

.btn-form {
    background-color: var(--azul);
    color: var(--blanco);
    transition: all 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-form:hover {
    background-color: var(--azul-oscuro);
}

img {
    width: 100%;
}

/*HEADER*/

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }
  
  
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-left: 10px;
    background-color: var(--blanco);
  }
  
  
  .menu{
    position: absolute;
    left: 100%;
    top: 60px;
    z-index: 1000;
    background-color: var(--blanco);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: calc(100vh - 60px);
    transition: 0.5s;
  }
  
  .menu_visible {
    left: 0;
  }
  
  .menu-link{
    padding: 8px 12px;
    transition: all 0.2s;
  }

  .menu-link:hover {
    color: var(--azul-oscuro);
  }
  
  .btn-menu button{
    background: none;
    border: none;
  }
  
  .btn-menu i{
    font-size: 1.5em;
  }
  
  .close-menu{
    display: none;
  }
  
 
  
  @media (min-width: 768px) {

    .nav {
      padding: 0 40px 0 20px;
      height: 80px;
    }
  
    .btn-menu {
      display: none;
    }
  
    .menu{
      position: static;
      width: max-content;
      height: max-content;
      background: none;
      flex-direction: row;
    }
   
  }
  

/*MAIN*/

.portada {
    margin-top: 60px;
    height: 65vh;
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(https://images.unsplash.com/photo-1564894809611-1742fc40ed80?auto=format&fit=crop&q=80&w=2071&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
}

.banner {
    margin-top: 40px;
    height: 30vh;
    background-color: var(--gris-claro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.productos {
    padding: 20px;
    width: 100%;
    max-width: 1400px;
    margin: 40px auto;
}

.productos-container {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.productos-container .producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto-img {
    max-width: 320px;
    cursor: pointer;
    transition: all 0.3s;
}

.producto-img:hover {
    opacity: 0.5;
}

/*Form*/

.contacto {
    padding: 20px;
    width: 100%;
    max-width: 1400px;
    margin: 40px auto;
}

.form-contacto {
    width: 320px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    gap: 10px;
}

@media (min-width: 600px){
    .productos-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px){
    .productos-container {
        grid-template-columns: repeat(4, 1fr);
    }
}





@media (min-width: 600px) {
    .form-contacto {
        width: 400px;
    }
}

/*FOOTER*/

.footer {
    height: 30vh;
    background-color: var(--gris-claro);
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes {
    display: flex;
    gap: 20px;
}
.redes i {
    font-size: 1.5em;
}

.redes i:hover {
    cursor: pointer;
    color: var(--azul-oscuro);
}

